In [1]:
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 10)

In [2]:
episodes = pd.read_csv('Datasets/episodes.csv')
paintings = pd.read_csv('Datasets/paintings.csv')
dates = pd.read_fwf('Datasets/dates', header = None)

In [3]:
# Rename the existing column to 'combined'
dates.rename(columns={0: 'combined'}, inplace=True)

# Regex pattern to extract title and date (excluding notes)
pattern = r'^"([^"]+)" \(([^)]+)\)'

# Extract Title and Date  and Notes using regex pattern
dates[['Title', 'Date']] = dates['combined'].str.extract(pattern, expand=True)

# Extract the month from the Date string
dates['Month'] = dates['Date'].str.extract(r'(\w+) \d+, \d+')

# Drop the 'combined' column
dates.drop(columns=['combined'], inplace=True)

dates

                      Title              Date     Month
0       A Walk in the Woods  January 11, 1983   January
1            Mount McKinley  January 11, 1983   January
2              Ebony Sunset  January 18, 1983   January
3               Winter Mist  January 25, 1983   January
4              Quiet Stream  February 1, 1983  February
..                      ...               ...       ...
398        Evergreen Valley    April 19, 1994     April
399             Balmy Beach    April 26, 1994     April
400       Lake at the Ridge       May 3, 1994       May
401  In the Midst of Winter      May 10, 1994       May
402          Wilderness Day      May 17, 1994       May

[403 rows x 3 columns]