In [1]:
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 10)

In [2]:
episodes = pd.read_csv('Datasets/episodes.csv')
paintings = pd.read_csv('Datasets/paintings.csv')
dates = pd.read_fwf('Datasets/dates', header = None)

In [3]:
# Rename the existing column to 'combined'
dates.rename(columns={0: 'combined'}, inplace=True)

# Regex pattern to extract title, date, and notes
pattern = r'^"([^"]+)" \(([^)]+)\) ?(.*)'

# Extract Title and Date  and Notes using regex pattern
dates[['Title', 'Date', 'Notes']] = dates['combined'].str.extract(pattern, expand=True)

# Replace both NaN and empty strings in 'Notes' with 'None'
dates['Notes'] = dates['Notes'].replace(r'^\s*$', 'None', regex=True)

# Convert 'Date' to datetime
dates['Date'] = pd.to_datetime(dates['Date'])

# Extract the Month and create a new 'Month' column
dates['Month'] = dates['Date'].dt.month_name()

# Drop the 'combined' column
dates.drop(columns=['combined'], inplace=True)

dates

                      Title       Date                     Notes     Month
0       A Walk in the Woods 1983-01-11                      None   January
1            Mount McKinley 1983-01-11                      None   January
2              Ebony Sunset 1983-01-18                      None   January
3               Winter Mist 1983-01-25                      None   January
4              Quiet Stream 1983-02-01                      None  February
..                      ...        ...                       ...       ...
398        Evergreen Valley 1994-04-19                      None     April
399             Balmy Beach 1994-04-26                      None     April
400       Lake at the Ridge 1994-05-03  Special guest Steve Ross       May
401  In the Midst of Winter 1994-05-10                      None       May
402          Wilderness Day 1994-05-17                      None       May

[403 rows x 4 columns]

In [4]:
filtered_dates = dates[dates['Title'].isin(['Mountain Waterfall', 'Lakeside Cabin'])]
filtered_dates

                  Title       Date Notes     Month
24   Mountain Waterfall 1983-11-16  None  November
52   Mountain Waterfall 1985-01-02  None   January
92       Lakeside Cabin 1986-01-09  None   January
129      Lakeside Cabin 1986-11-26  None  November